{% extends 'base.html' %}
<title>{% block title %} Password Reset Confirm {% endblock title %}</title>

{% load crispy_forms_tags %}

{% block content %}
    
<div class="container d-flex justify-content-center align-items-center" style="margin-top: 110px;">
    <div class="card p-3" style="width: 100%; max-width: 400px; background: linear-gradient(to right, #8e2de2, #4a00e0); border-radius: 10px;"> <!-- Gradient background and border radius applied -->
        <h2 class="text-center text-white">
            Create Your New Password
        </h2>
        
        <form action="" method="post" style="margin-bottom: 0;">
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="text-danger">{{ message }}</li> <!-- Changed color to text-danger for better styling -->
                {% endfor %}
            </ul>
            {% endif %}
            
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-light btn-block mt-2" type="submit">Save Password</button> <!-- Changed to light button for better contrast -->
        </form>
    </div>
</div>

{% endblock content %}
