{% extends 'base.html' %}
<title>{% block title %} Password Reset Complete {% endblock title %}</title>

{% load crispy_forms_tags %}

{% block content %}
    
<div class="container d-flex justify-content-center align-items-center" style="margin-top: 110px;">
    <div class="card p-3" style="width: 100%; max-width: 400px; background: linear-gradient(to right, #ff6f61, #de6262); border-radius: 10px;"> <!-- Gradient background and border radius applied -->
        <h2 class="text-center text-white">
            Password Reset Successful
        </h2>
        <p class="text-center text-white">
            Your password has been reset successfully.
        </p>
        <a href="{% url 'login' %}" class="btn btn-light btn-block mt-2">Login Now</a> <!-- Changed to light button for better contrast -->
    </div>
</div>

{% endblock content %}
