{% extends 'base.html' %}
<title>{% block title %} Reset Password Done {% endblock title %}</title>

{% load crispy_forms_tags %}

{% block content %}
    
<div class="container d-flex justify-content-center align-items-center" style="margin-top: 110px;">
    <div class="card p-3" style="width: 100%; max-width: 400px; background: linear-gradient(to right, #00c6ff, #0072ff); border-radius: 10px;"> <!-- Gradient background and border radius applied -->
        <h2 class="text-center text-white">
            Password Reset Email Sent To Your Gmail
        </h2>
        <p class="text-center text-light">
            A password reset link has been sent to your email account. Please check your email to proceed with resetting your password.
        </p>
    </div>
</div>

{% endblock content %}
