{% extends 'base.html' %}
<title>{% block title %} Reset Password {% endblock title %}</title>

{% load crispy_forms_tags %}

{% block content %}
    
<div class="container d-flex justify-content-center align-items-center" style="margin-top: 110px;">
    <div class="card p-3" style="width: 100%; max-width: 400px; background: linear-gradient(to right, #3cb44e, #1328af); border-radius: 10px;"> <!-- Gradient background and border radius applied -->
        <h2 class="text-center text-white">
            Give your account email address for password reset
        </h2>

        <form action="" method="post" style="margin-bottom: 0;">
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color:red">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary btn-block mt-2" type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}
