{% load static %}
{% load static %}


  
<style>
  .custom-container {
      padding-left: 0;
      padding-right: 0;
  }
</style>

 

<div  class="container-fluid my-3 custom-container">
<footer class=" text-center text-white" style="background-color: #1F1844;">  

  <!-- Grid container -->
  <div class="container-fluid p-3 pb-0">
    <!-- Section: Social media -->
    <section class="mb-1">
      <a class="btn btn-floating m-1 "  style="background-color: white; color:black;" href="#" role="button"
        >Download App  <i class="fa-brands fa-google-play"></i>
     </a>
      <!-- Facebook -->
      <a class="btn  btn-floating m-1" style="background-color: white; color:black;" href="https://www.facebook.com/ugvbarisal/" role="button"
        > Facebook <i class="fa-brands fa-facebook"></i>
      </a>    
    
    </section>

  </div>


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a  class="text-white" target="_blank" href="https://ugv.edu.bd/">© 2024 Copyright By University Of Global Village, Barishal</a> ||
    <a class="text-white"  href="{% url 'about' %}">About Us</a> ||
    <a class="text-white" target="_blank" href="https://www.facebook.com/moniruldevelopers"> Developed By Monirul Islam</a>
  </div>
  <!-- Copyright -->
</footer>
  
